<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>CypherKuy</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
      h1 {
        font-size: 45px;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        color: #00539F;
        text-shadow: 3px 3px 1px black;
      }
      
      .identitas {
        text-align: center;
        font-size: 10px;
      }

      p {
        text-align: center;
      }

      form {
        text-align: center;
      }

      body {
        width: 600px;
        margin: 0 auto;
        background-color: #FFFFFF;
        padding: 0 20px 20px 20px;
        border: 5px solid black;
      }

      html {
        background-image: url("https://preview.redd.it/lr41m72m2ms41.jpg?width=1920&format=pjpg&auto=webp&s=d4561d11381900125c44c6e78521d4afa8a35b1f");
      }

      html {
        font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high  */
        font-family: "Open Sans"; /* this should be the rest of the output you got from Google fonts */
      }

    </style>
  </head>

  <body>
    <h1> new Cypher </h1>
    <p class="identitas">Naufal Yahya - 13519141</p>
  </body>

  {% if mode=="encrypted" %}
    <div class="answer">
      <p>cypher text anda adalah {{answer}}</p>
    </div>
    <form action="/decrypt" method="POST">
      <div class="form-group">
        <label for="cyphertextInput">Cypher text</label>
        <br>
        <input name ="cypher1Input" class="form-control" id="cyphertextInput">
      </div>
      <br>
      <div class="form-group">
        <label for="cyphertextInput">Cypher text</label>
        <br>
        <input name ="cypher2Input" class="form-control" id="cyphertextInput">
        <br>
        <small id="additionalKey" class="form-text text-muted">Isi untuk ElGamal dengan array yang berada di dalam array</small>
      </div>
      <br>
      <div class="form-group">
        <label for="keyInput">p value</label>
        <br>
        <input name ="pInput" class="form-control" id="keyInput">
      </div>
      <br>
      <div class="form-group">
        <label for="keyInput">q value</label>
        <br>
        <input name ="qInput" class="form-control" id="keyInput">
        <br>
        <small id="additionalKey" class="form-text text-muted">Isi untuk RSA dan Paillier</small>
      </div>
      <br>
      <div class="form-group">
        <label for="keyInput">e value</label>
        <br>
        <input name ="eInput" class="form-control" id="keyInput">
        <br>
        <small id="additionalKey" class="form-text text-muted">Isi untuk RSA</small>
      </div>
      <br>
      <div class="form-group">
        <label for="keyInput">g value</label>
        <br>
        <input name ="gInput" class="form-control" id="keyInput">
        <br>
        <small id="additionalKey" class="form-text text-muted">Isi untuk ElGamal dan Paillier</small>
      </div>
      <br>
      <div class="form-group">
        <label for="keyInput">x value</label>
        <br>
        <input name ="xInput" class="form-control" id="keyInput">
        <br>
        <small id="additionalKey" class="form-text text-muted">Isi untuk ElGamal</small>
      </div>
      <br>
      <div class="form-group">
        <label for="methodInput">Cyper Method</label>
        <br>
        <select name ="methodInput" class="form-control" id="exampleFormControlSelect1">
          <option>RSA</option>
          <option>ElGamal</option>
          <option>Paillier</option>
        </select>
        <br>
        <small id="additionalKey" class="form-text text-muted">Isi sama dengan Metode Cypher Enkripsi</small>
      </div>
      <button type="submit" class="btn">Decrypt</button>
    </form>

  {% else %}

  <form action="/encrypt" method="POST" enctype=multipart/form-data>
    <div class="form-group">
      <label for="messageinput">Message</label>
      <br>
      <input name ="messageinput" class="form-control" id="messageinput">
    </div>
    <br>
    <div class="form-group">
      <label for="keyInput">p value</label>
      <br>
      <input name ="pInput" class="form-control" id="keyInput">
    </div>
    <br>
    <div class="form-group">
      <label for="keyInput">q value</label>
      <br>
      <input name ="qInput" class="form-control" id="keyInput">
      <br>
      <small id="additionalKey" class="form-text text-muted">Isi untuk RSA dan Paillier</small>
    </div>
    <br>
    <div class="form-group">
      <label for="keyInput">e value</label>
      <br>
      <input name ="eInput" class="form-control" id="keyInput">
      <br>
      <small id="additionalKey" class="form-text text-muted">Isi untuk RSA</small>
    </div>
    <br>
    <div class="form-group">
      <label for="keyInput">g value</label>
      <br>
      <input name ="gInput" class="form-control" id="keyInput">
      <br>
      <small id="additionalKey" class="form-text text-muted">Isi untuk ElGamal dan Paillier</small>
    </div>
    <br>
    <div class="form-group">
      <label for="keyInput">x value</label>
      <br>
      <input name ="xInput" class="form-control" id="keyInput">
      <br>
      <small id="additionalKey" class="form-text text-muted">Isi untuk ElGamal</small>
    </div>
    <br>
    <div class="form-group">
      <label for="keyInput">r value</label>
      <br>
      <input name ="rInput" class="form-control" id="keyInput">
      <br>
      <small id="additionalKey" class="form-text text-muted">Isi untuk Paillier</small>
    </div>
    <br>
    <div class="form-group">
      <label for="keyInput">k value</label>
      <br>
      <input name ="kInput" class="form-control" id="keyInput">
      <br>
      <small id="additionalKey" class="form-text text-muted">Isi untuk ElGamal</small>
    </div>
    <br>
    <div class="form-group">
      <label for="methodInput">Cyper Method</label>
      <br>
      <select name ="methodInput" class="form-control" id="exampleFormControlSelect1">
        <option>RSA</option>
        <option>ElGamal</option>
        <option>Paillier</option>
      </select>
    </div>
    <button type="submit" class="btn">Encrypt</button>
  </form>
  <div class="answer">
    <p>Plain text hasil dekripsi anda adalah {{answer1}}</p>
  </div>

  {% endif %}

  <script>
    
  </script>

</html>